<h1>Summary of transactions by category</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>category</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        <% results.map(item => {%>
            <tr>
              <td><%= result._id %></td>
               <<td><%= result._total %></td>
            </tr>
            <% }) %>

    </tbody>
</table>
